<div id="<%= dom_id(task) %>">
  <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= task.text %></li>
    <li class="list-group-item"><%= task.due_date.strftime("%A, %B %e, %Y") %></li>
    <li class="list-group-item"><%= task.assigned_to.name if task.assigned_to %></li>
  </ul>
</div>
</div>
