<%= link_to new_organization_path, class: "add-new-btn btn btn-primary pb-2 mb-0", data: { bs_toggle: "modal", bs_target: "#newOrg" } do %><i class="fa-solid fa-square-plus fa-lg" style="color: #fff;"></i>
        <% end %>

<!-- Modal -->
<div class="modal fade" id="newOrg" tabindex="-1" aria-labelledby="newOrg" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newOrgTitle">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "organizations/form", organization: Organization.new %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
