<div class="p-5 mt-3">

  <h1>New organization</h1>

  <%= render "form", organization: @organization %>

  <br>

  <div>
    <%= link_to "Back to organizations", organizations_path %>
  </div>
</div>
