<h1>New meeting minute</h1>

  <%= link_to "New Meeting Minute", new_organization_meeting_minute_path(@organization), class: "btn btn-primary" %>


<%= render "form", meeting_minute: @meeting_minute %>
