<h1>New meeting minute</h1>

<%= render "form", meeting_minute: @meeting_minute %>

<br>

<div class="p-2">
  <a href="/organizations/<%= @organization.id %>/meeting_minutes">Back to organization's meeting minutes</a>
</div>
