<div class="p-5 mt-2">

  <h1>Editing <%= @member.first_name %> <%= @member.last_name %></h1>

  <%= render "form", member: @member %>

  <br>

  <div>
    <a href="/organizations/<%= @member.organization_id %>/members">Back to organization's members</a>
  </div>

</div>
