<h1>Editing member</h1>

<%= render "form", member: @member %>

<br>

<div>
  <%= link_to "Show this member", @member %> |
  <a href="/organizations/<%= @member.organization_id %>/members">Back to organization's members</a>
</div>
