<div class="p-5 mt-3">

  <%= link_to "/organizations/#{@organization.id}/members",
            class: "form-exit-button btn btn-secondary" do %>
        <i class="fa-solid fa-x"></i>
      <% end %>

  <%= render "form", member: @member %>

</div>
