<div class="p-5 mt-3">
  <h1>New member</h1>

  <%= render "form", member: @member %>

  <br>

  <a href="/organizations/<%= @member.organization_id %>/members">Back to organization's members</a>

</div>
